* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shopicon {
    width: 120px;
    height: 120px;
}

.shopitem {
    font-weight: 400;
}

.shopbuy {
    border: 2px solid black;
    border-radius: 30px;
    width: 100px;
    height: 25px;
    font-weight: 900;
    font-size: 14px;
}

.shopbuy:hover {
    background-color: lightblue;
}

.shopbuy:active {
    font-size: 12px;
    background-color: lightyellow;
}

#column1 {
    background-color: lightgray;
    height: 100vh;
    padding: 75px;
    width: 25vw;
}

#column1 tbody {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#column1 tr {
    margin-top: 25px;
}

#column1 tr div {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#kiryu {
    width: 250px;
    height: 250px;
    position: relative;
    top: 50px;
    bottom: 50px;
}

#kiryu:hover {
    width: 260px;
    height: 260px;
}



#column2 button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

#column2 button:hover {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
}

#column2 {
    text-align: center;
    width: 50vw;
    height: 100vh;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#column2 h2 {
    font-size: 30px;
}

#column2 h1 {
    font-size: 45px;
}

#column2 #area {
    position: relative;
    top: 70px;
}

#column3 {
    width: 25vw;
    background-color: gray;
    height: 100vh;
}
